<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net452" />
  <package id="ThirdDrawer" version="1.1.9.0" targetFramework="net452" />
  <package id="YACLP" version="1.0.46.0" targetFramework="net452" />
</packages>